--extra-index-url https://download.pytorch.org/whl/cpu torch~=2.4.1
numpy~=2.0.0
scipy~=1.14.1
scikit-learn~=1.5.1
pandas~=2.2.2
seaborn~=0.13.2
ipywidgets~=8.1.5
matplotlib~=3.9.2
plotly~=5.24.0
sympy~=1.13.3
h5py~=3.12.1
objgraph~=3.6.0
numba~=0.60.0
cython~=3.0.11
polars~=1.6.0
tensorboard~=2.17.1
lightning~=2.1.0
sqlalchemy~=2.0.34
fastapi~=0.113.0
Flask>=3.0.0
streamlit>=1.38.0